{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact mt-5">
      <div class="container" data-aos="fade-up">

      <div class="section-title">
          <h2>Контакты</h2>
          {% comment %} <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> {% endcomment %}
      </div>

      <div class="row" data-aos="fade-in">
          <div class="col-lg-2"></div>
          <div class="col-lg-8 d-flex align-items-stretch">
              <div class="info">
                  <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Адрес:</h4>
                  <p>Республика Казахстан, г. Павлодар</p>
                  </div>

                  <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>mihas-ox7-74@mail.ru</p>
                  </div>

                  <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Телефон:</h4>
                  <p>+77088210530</p>
                  </div>

                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8182.658543007002!2d76.96528683783558!3d52.28713847593566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2skz!4v1590232255628!5m2!1sru!2skz" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
              </div>
          </div>
          <div class="col-lg-2"></div>

      </div>

      </div>
  </section>
  <!-- End Contact Section -->

{% endblock %}